<!DOCTYPE html>
<html ng-app="opentablePlugin">
<head lang="en">
    <meta charset="UTF-8">
    <title>content</title>
    <!-- CSS -->
    <link href="../../../../styles/helper.css" rel="stylesheet">

    <!-- JS -->
    <script src="../../../../scripts/buildfire.js"></script>
    <script src="../../../../scripts/angular/angular.min.js"></script>
</head>
<body ng-controller="opentablePluginCtrl" id="webviewApp" ng-cloak ng-show="datastoreInitialized">
    <div ng-form="frmMain">
        <div class="item clearfix row margin-bottom-fifteen">
            <div class="labels col-md-3 padding-right-zero pull-left">
                <span>Open Table URL</span>
            </div>
			<div class="main col-md-9 pull-right clearfix">
           	 	<div class="col-md-9 pull-left padding-left-zero">
	                <input id="url" name="opentableId" placeholder="http://www.opentable.com/restaurant" type="text" class="form-control" ng-model="data.content.opentableId" required pattern="(http:\/\/|https:\/\/)?(?:www\.)?(opentable)\.com\/.+">
	            </div>
	            <div class="col-md-3 pull-right padding-zero">
	                <button class="btn btn-success stretch" ng-click="validateUrl()">
	                    Validate
	                </button>
	            </div>
			</div>
        </div>
        <div class="item clearfix row" ng-show="idEmpty">
            <div class="labels col-md-2 padding-right-zero pull-left"></div>
            <div class="col-md-9 pull-right">
                <div class="alert alert-danger transition-half">Please enter Open Table URL</div>
            </div>
        </div>
		<hr class="none">
		<div class="item clearfix row">
            <div class="col-md-9 pull-right">
        		<p class="info padding-zero margin-zero">Note: For the best user experience, link to mobile optimized content.</p>
   			</div>
		</div>
    </div>
    <script>
        var opentablePluginApp = angular.module('opentablePlugin', []);

        opentablePluginApp.controller("opentablePluginCtrl", ["$scope", "$log", "$timeout", function ($scope, $log, $timeout) {
            var timer = null,
            dataChanged = false;

            $scope.datastoreInitialized = false;
            $scope.idEmpty = false;
            /*
             * Go pull any previously saved data
             * */
            buildfire.datastore.get(function (err, result) {
                if (!err) {
                    $scope.datastoreInitialized = true;
                } else {
                    console.error("Error: ", err);
                    return;
                }
                
                if (result && result.data && !angular.equals({}, result.data)) {
                    $scope.data = result.data;
                    $scope.id = result.id;
                } else {
                    $scope.data = {
                        content: {
                            opentableId: ""
                        }
                    };
                }

                /*
                 * watch for changes in data and trigger the saveDataWithDelay function on change
                 * */
                $scope.$watch('data', function (newObj, oldObj) {
                    if (angular.equals(newObj, oldObj) || newObj == undefined) {
                        dataChanged = false;
                    } else {
                        dataChanged = true;
                    }
                }, true);

                if (!$scope.$$phase && !$scope.$root.$$phase) {
                    $scope.$apply();
                }
            });


            $scope.validateUrl = function () {
                if (!$scope.datastoreInitialized) {
                    console.error("Error with datastore didn't get called");
                    return;
                }

                if (!dataChanged) {
                    console.warn("data didn't changed")
                    return;
                }
                var data = $scope.data;
                // if the form has some invalid data do not save, in our case the user eneter invalid URL
                if ($scope.frmMain.$invalid) {
                    $log.warn('invalid data, details will not be saved');
                    $scope.idEmpty = true;
                } else {
                    $scope.idEmpty = false;
                    dataChanged = false;
                    if (!/^https?\:\/\//.test(data.content.opentableId)) {
                        data.content.opentableId = "https://" + data.content.opentableId;
                    }
                    console.info("Saving...")
                    buildfire.datastore.save(data, function (err, result) {
                        if (err || !result) {
                            $log.error('Error saving the widget details: ', err);
                        }
                        else {
                            $log.info('Widget details saved');
                        }
                    });
                }
            };
			
			
        }]);
    </script>
</body>

</html>
