<!DOCTYPE html>
<html ng-app="opentablePlugin">
<head lang="en">
    <meta charset="UTF-8">
    <title>content</title>
    <!-- CSS -->
    <link href="../../../../styles/helper.css" rel="stylesheet">

    <!-- JS -->
    <script src="../../../../scripts/buildfire.js"></script>
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="content.controller.js"></script>
</head>
<body ng-controller="opentablePluginCtrl" id="webviewApp" ng-cloak ng-show="datastoreInitialized">
    <div ng-form="frmMain">
        <div class="item clearfix row margin-bottom-fifteen">
            <div class="labels col-md-3 padding-right-zero pull-left">
                <span>Open Table URL</span>
            </div>
			<div class="main col-md-9 pull-right clearfix">
           	 	<div class="col-md-9 pull-left padding-left-zero">
	                <input id="url" name="opentableId" placeholder="http://www.opentable.com/restaurant" type="text" class="form-control" ng-model="data.content.opentableId" required pattern="(http:\/\/|https:\/\/)?(?:www\.)?(opentable)\.com\/.+">
	            </div>
	            <div class="col-md-3 pull-right padding-zero">
	                <button class="btn btn-success stretch" ng-click="validateUrl()">
	                    Validate
	                </button>
	            </div>
			</div>
        </div>
        <div class="item clearfix row" ng-show="idEmpty">
            <div class="labels col-md-2 padding-right-zero pull-left"></div>
            <div class="col-md-9 pull-right">
                <div class="alert alert-danger transition-half">Please enter Open Table URL</div>
            </div>
        </div>
		<hr class="none">
		<div class="item clearfix row">
            <div class="col-md-9 pull-right">
        		<p class="info padding-zero margin-zero">Note: For the best user experience, link to mobile optimized content.</p>
   			</div>
		</div>
    </div>
</body>

</html>
